---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import FormContact from "@/components/FormContact.astro";
import CommingSoon from "@/components/ui/CommingSoon.astro";
import CallToAction from "@/components/ui/CallToAction.astro";
import { callToActionSectionsContact } from "@/types/CallToAction";

type ButtonVariant = 'primary' | 'secondary';

const primaryButton = {
    text: "Explore our plans",
    href: "/Pricing",
    variant: "primary" as ButtonVariant
}
const secondaryButton = {
    text: "Schedule a call",
    href: "#",
    isMeetingButton: true,
    variant: "secondary" as ButtonVariant
}

---

<Layout>
    <Hero 
            title="Digital Solutions that Transform Your Business"
            description="Contact us today and start growing with digital strategies designed for your success!"
            primaryButton={primaryButton}
            secondaryButton={secondaryButton}
            showButton1={true}
            showButton2={true}
            showLogo={false}
            colSpan={'full'}
            justifyContent="center"
            class="text-center"
        />
    <FormContact />
    <CommingSoon />
    <div class="pt-32">
    <CallToAction
        sections={callToActionSectionsContact}
        showDecorativeLogo={true}
	    />
    </div>
</Layout>