---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import FeaturedServices from "@/components/FeaturedServices.astro";
import StellarServices from "@/components/icons/StellarServices.astro";
import ServicesCallToAction from "@/components/ui/ServicesCallToAction.astro";
import Testimonials from "@/components/Testimonials.astro";
import CallToAction from "@/components/ui/CallToAction.astro";
import { callToActionSections } from "@/types/CallToAction";
import PlansCard from "@/components/PlansCard.astro";


const primaryButton = {
    text: "Contactanos",
    href: "#contact"
}
const secondaryButton = {
    text: "Explorar Planes",
    href: "#plans"
}
---

<Layout>
        <Hero 
            title="Transform Your Business with Innovative Digital Solutions"
            description="Discover our customized software, marketing, web design, SEO, and branding services to take your business to the next level."
            primaryButton={primaryButton}
            secondaryButton={secondaryButton}
            showButtons={true}
            showLogo={false}
            colSpan={'full'}
            justifyContent="center"
            class="text-center"
        />

    
        <ServicesCallToAction />
        <PlansCard/>
        <div class="py-20 ">
            <FeaturedServices/>
        </div>
        
        
       

        <CallToAction
        sections={callToActionSections}
        showDecorativeLogo={true}
	    />

</Layout>